.main {
  min-height: calc(100vh - 90px - 250px);
  padding: 40px 0; }


.profile__header{
  display:grid;
  grid-template-columns: 2fr 4fr;
  //height:250px;
  margin-bottom:40px;}
  .profile__header-left{
  position: relative;
   border-radius: 20px;
   overflow: hidden;
   margin-right:20px;}
   .profile__header-img{
    width: 100%;
    max-height:300px;
    object-fit: cover;}
    .profile__header-left-imageupload{
    position: absolute;
    top: 10px;
    left: 10px;
    border: dashed white;
    }
    .profile__header-left-imageupload-label{
background:#F2F9FF;
        cursor: pointer;
        }
    .profile__header-left-imageupload input{
    display:none
    }
   .profile__header-text{
     width: 100%;}
    .profile__header-text-title{
     line-height:1;
     font-size:32px;
     font-weight: 700;
     margin-bottom:10px;}
     .profile__header-text-role{
      line-height:1;
      font-weight: 400;
      font-size:18px;
      text-align:justify;}
     .profile__header-text-low{
      line-height:1;
      font-weight: 400;
      font-size:14px;
      text-align:justify;}
   .profile__header-text-item{
   display: flex;
   align-items: center;
    margin-top:10px;
    margin-right:10px;
    display: flex;
    justify-content: flex-start;
     align-items:center;}
     .profile__header-text-item img{
      height:20px;}

    .profile__header-text-item-text{
     margin-left: 5px;;
     font-size:14px;
     font-weight:700;}
     .profile__header-text-item-text-label{
     margin-left:10px;}
     .profile__header-text-item-text-label input{
          display:none;}

.header__login {
    text-decoration: none;
    font-weight: 500;
    color: white;
    border-radius: 15px;
    background-color: #0C6AA5;
    padding: 8px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s all; }
    .header__login span {
      font-size: 18px;
      line-height: 22px; }
    .header__login:hover {
      color: white;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.profile__events{
display:flex;
flex-direction: column;
margin-bottom: 40px;
}

 .profile__events-title{
  font-size: 24px;
  font-weight:700;
  margin-bottom:10px;}

.profile__events-area{
border-radius: 15px;
padding: 15px;
background: #F2F9FF
}

.profile__events-checkbox {
      border: none;
      width: 0;
      height: 0; }
      .profile__events-checkbox-wrapper {
        display: flex;
        flex-direction: row;
        gap: 30px; }
      .profile__events-checkbox-label {
        background: white;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #0C6AA5;
        padding: 20px 15px;
        height: 45px;
        min-width: 120px;
        border: 1px solid #0C6AA5;
        border-radius: 30px;
        font-size: 18px;
        font-weight: 500; }

.card {
  display: block;
  background: white;
  text-decoration: none;
  color: black;
  width: 305px;
  height: 345px;
  border: 3px solid #0C6AA5;
  border-radius: 20px;
  overflow: hidden; }
  .card__area{
  overflow:auto}
  .card__wrapper {
    min-height:345px;
    margin: 20px 0px;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    }
  .card__header {
    overflow: hidden; }
  .card__img {
    width: 100%;
    height: 163px;
    object-fit: cover;
    transition: 0.5s all; }
  .card__main {
    height: 182px;
    padding: 10px 15px 12px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .card__body_header {
      display: flex;
      justify-content: flex-start; }
  .card__type span {
    font-size: 12px;
    font-weight: 700;
    color: #0C6AA5;
    border: 1px solid #0C6AA5;
    border-radius: 15px;
    margin:0px 10px 0 0;
    padding: 4px 7px; }
  .card__title_area{
    height: 90px;  }
  .card__title {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 700;
    transition: 0.2s all; }
  .card__date {
    font-size: 14px;
    font-weight: 400; }
  .card__place {
    font-size: 14px;
    font-weight: 400;
    color: #727272; }
  .card:hover {
    color: inherit;
    cursor: pointer; }
    .card:hover .card__img {
      transform: scale(1.2); }
    .card:hover .card__title {
      color: #0C6AA5; }

.profile__createevent{
display:flex;
flex-direction: column;
margin-bottom: 40px;
}

 .profile__createevent-title{
  font-size: 24px;
  font-weight:700;
  margin-bottom:10px;}

.profile__createevent-area{
//border: 5px solid #0C6AA5;
border-radius: 15px;
padding: 15px;
background: #F2F9FF
}

.profile__partner-request{
display:flex;
flex-direction: column;
margin-bottom: 40px;
}

 .profile__partner-request-title{
  font-size: 24px;
  font-weight:700;
  margin-bottom:10px;}

.profile__createevent-area{
//border: 5px solid #0C6AA5;
border-radius: 15px;
padding: 15px;
background: #F2F9FF
}

/*# sourceMappingURL=style.css.map */
